{% extends "layout.html" %}

{% block page_title %}
Eligibility / Eyesight
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility" class="active">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Eligibility / Eyesight
    </h1>

    <p>
      Good eyesight is crucial. You’ll need to meet a minimum standard in both eyes of not less than 6/36 in each eye on the Snellen scale (uncorrected) and not less than 6/12 in the best eye (corrected with glasses/contact lenses if necessary). You also need to have normal binocular field vision with at least 120 degrees of vision in the horizontal plane. Your eyes will be tested at the assessment day.
    </p>

  </div>
</div>
</main>

{% endblock %}


