{% extends "layout.html" %}

{% block page_title %}
Eligibility / Maths
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/vacancies">Vacancies</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility" class="active">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li><a href="/index">Home</a></li>
    <li><a href="/eligibility">Eligibility</a></li>
    <li>Maths</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Eligibility / Maths
    </h1>

    <p>
      You'll need an acceptable level of maths to be a prison officer. As well as being able to do prisoner headcounts, you'll have to write reports. As part of your application, you'll take an online maths test. Here are some practice questions.
    </p>

    <p>
      <a href="https://www.smartsurvey.co.uk/s/practicemath/">
        Take the practice test
      </a>
    </p>

  </div>
</div>
</main>

{% endblock %}


