{% extends "layout.html" %}

{% block page_title %}
Eligibility / Physical
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility" class="active">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Eligibility / Physical
    </h1>

    <p>
      Being a prison officer requires a reasonable level of stamina and fitness. For starters, you’ll be on your feet for much of the day. You’ll also have to respond quickly in emergency situations.
    </p>
    <p>
      As part of your recruitment assessment day, you’ll have to pass a fitness test. But don’t worry; we’re not looking for athletes. Here’s an overview of what you can expect. You’ll also find a training programme to help you prepare.
    </p>

    <p>
      <a href="https://www.prisonandprobationjobs.gov.uk/#video">
        Watch the video
      </a>
    </p>

  </div>
</div>
</main>

{% endblock %}


