{% extends "layout.html" %}

{% block page_title %}
Eligibility / Qualities
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility" class="active">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li><a href="/index">Home</a></li>
    <li><a href="/eligibility">Eligibility</a></li>
    <li>Qualities</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Eligibility / Qualities
    </h1>

    <p>
      Communication skills, Understanding, Assertiveness and Integrity: these are just some of the qualities you'll need to work with offenders and support their rehabilitation. At our recruitment assessment day, we'll test if you have what it takes in a series of role-play exercises.
    </p>
    <p>
      <a href="https://www.prisonandprobationjobs.gov.uk/#video">
        Take the practice test
      </a>
    </p>
  </div>
</div>
</main>

{% endblock %}


