{% extends "layout.html" %}

{% block page_title %}
The Recruitment Process
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/vacancies">Vacancies</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility" class="active">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li><a href="/index">Home</a></li>
    <li>Eligibility</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Are you eligible?
    </h1>

    <p>
      First, you'll need to meet our essential criteria, which includes having the right to work in the UK. Beyond that, we'll check things like your eyesight and physical fitness. We'll also expect you to pass a basic maths test and demonstrate the personal qualities we're looking for, when you come in for an assessment day.
    </p>
    <p>
      These tests aren't just to make the selection process easier. They're designed to make sure you have the right skills and attitude to get the most from the role. You can get a sense of what each test involves by downloading the practice tests on the links below.
    </p>

    <ul class="list list-bullet">
      <li><a href="eligibility/qualities">Qualities</a></li>
      <li><a href="eligibility/maths">Maths</a></li>
      <li><a href="eligibility/physical">Physical</a></li>
      <li><a href="eligibility/eyesight">Eyesight</a></li>
    </ul>
  </div>
</div>
</main>

{% endblock %}


