{% extends "layout.html" %}

{% block page_title %}
FAQs
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq" class="active">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Frequently Asked Questions
    </h1>

    <ul class="list list-bullet">

      <li>
        <h3>
          Do I need any qualifications?
        </h3>
        <p>
          You don’t need any specific qualifications for this role. We’re much more interested in your personal qualities and life experience.
        </p>
      </li>

      <li>
        <h3>
          Do I have to wear a uniform?
        </h3>
        <p>
          Yes, you will be provided with a uniform.
        </p>
      </li>

      <li>
        <h3>
          What training will I receive and what is involved?
        </h3>
        <p>
          <p>With continued investment in training, we’ve increased prison officer training to 12 weeks: 10 weeks of that is the Prison Officer Entry Level Training (POELT) course and weeks 1 and 12 are hosted by the home establishment.</p>
          <p>Week 1 provides new officers with the opportunity to familiarise themselves with the establishment layout, the role of the establishment and the work they will be expected to carry out after training. Week 2-11 is formal training which is delivered at one of a number of training sites across England and Wales; this is known as Prison Officer Entry Level Training (POELT).</p>
          <p>On successful completion of the formal training new officers will return to their establishment for week 12 where they will have a consolidation week, this gives them the opportunity to apply the learning from formal training.</p>
          <p>The course combines a mixture of theory and practice-based classroom and dojo activities, each session within the course aims to give new officers a knowledge and understanding of the following:</p>
          <ul class="list list-bullet">
            <li>Health and safety responsibilities</li>
            <li>Organisational, legal and moral responsibility to those in custody</li>
            <li>Communication and interpersonal skills</li>
            <li>Safer custody in custodial environments</li>
            <li>Offending behaviour and methods for reducing re-offending</li>
            <li>Operating safely</li>
            <li>Operating securely</li>
            <li>Recording and reporting</li>
            <li>Use of force</li>
            <li>Searching individuals</li>
            <li>Escorting</li>
            <li>Pro-social behaviour in working relationships with individuals</li>
          </ul>
          <p>New officers are continually assessed during the course using a range of different practical and written assessment methods. All assessments are designed to test skills and to check knowledge, for example the practical assessments aim to demonstrate competence in:</p>
          <ul class="list list-bullet">
            <li>Radio procedures and urgent message</li>
            <li>Rub down searching</li>
            <li>Full search</li>
            <li>Cell searching</li>
            <li>Handcuffing</li>
            <li>Accommodation fabric check</li>
            <li>Roll checks</li>
            <li>Locking and unlocking</li>
          </ul>
          <p>During the course new officers will be required to complete the <a href="http://sfjawards.com/portfolio-item/management-and-care-of-individuals-in-the-custodial-environment/" target="_blank" title="SFJ Level 3 Diploma">SFJ Level 3 Diploma</a> in the management and care of individuals in the custodial environment.</p>
          <p>The main objective of this qualification is to provide them with the knowledge, and many of the skills, required to work in custodial environments.</p>
          <p>It is a requirement that they complete this qualification during the POELT course in order to take up full duties as a prison officer.</p>
          <p>In order to gain the qualification, they must successfully complete:</p>
          <ul class="list list-bullet">
            <li>A written final summative assessment paper (knowledge &amp; scenario-based questioning)</li>
            <li>12 knowledge-based work books (Level 3 qualification)</li>
            <li>A range of practical skills assessments (Level 3 qualification)</li>
            <li>Use of force - theory and practical (Level 3 qualification)</li>
            <li>Demonstrating and maintaining professional standards</li>
          </ul>
          <p>They are also required to complete the following:</p>
          <ul class="list list-bullet">
            <li>Work with others to produce a work-based project</li>
            <li>A weekly personal development journal</li>
            <li>A range of personal reflection records</li>
          </ul>
      </li>

      <li>
        <h3>
          Will I have to work shifts?
        </h3>

        <p>Prison officers can opt to work either a 37, 39 or 41 hour week. You will work on a rolling shift pattern, usually of 39 hours, which includes some nights and some weekends and some public and bank holidays (any public or bank holidays you work will be added to your annual leave allowance – find out more below).</p>
        <p>Your salary will be dependent on the number of hours you work. You will have the opportunity to work overtime in certain circumstances.</p>
        <p>Work/life balance options such as part-time hours and job shares are also available, subject to completion of your 10-week full-time POELT course and induction.</p>
      </li>

      <li>
        <h3>
          How can I develop my career?
        </h3>

        <p>As a prison officer, even if you never go for promotion, your career can take you in many different directions. As you will have read under ‘The role’, there are a lot of different areas where you can develop your career. All of these responsibilities require different skills. If you want to specialise further, you’ll have the opportunity to train to become a physical education officer, a dog handler, or, when you look back and remember the people who first helped you along – perhaps become a trainer yourself.</p>
      </li>

      <li>
        <h3>
          What might my day look like?
        </h3>

        <p>Working closely with your team, you'll have a number of key responsibilities that make rehabilitation possible. The first one's pretty obvious: You'll make sure the prison is safe and secure, and that all offenders are accounted for. Beyond that, it'll be up to you to supervise daily routines, giving offenders much-needed structure in their lives. You'll also act as a role model, doing what you can to encourage constructive choices. There'll definitely be days when you feel more like a guard than a guardian of change. But imagine the sense of satisfaction that'll come from helping people turn their lives around.</p>
      </li>


      <li>
        <h3>
          What's the salary?
        </h3>

        <p>Salaries in Her Majesty’s Prison and Probation Service (HMPPS) vary between different grades, areas and individual prisons. To find out what you could earn depending on your situation, download the PDF below.</p>
        <p><a data-id="1284" href="/media/1023/hmpps-prison-officer-salaries.pdf" target="_blank" title="HMPPS Prison Officer salaries.pdf">Prison Officer salaries – more information</a> (pdf, 205kb)</p>
        <p>For example, a prison officer working 39 hours a week in the types of prisons listed below could earn the following when they start:</p>
        <p>At one of the 4 Inner London prisons, £31,014 (a base salary of £28,014 + an allowance of £3,000) with a pension and benefits</p>
        <p>At one of the Outer London prisons, between £31,453 and £29,453 (a base salary of £26,453 + an allowance of either £5,000 or £3,000) with a pension and benefits</p>
        <p>At one of 17 prisons across the South and South-East £26,456 (a base salary of £23,456 + an allowance of £3,000) with pension and benefits</p>
        <p>Elsewhere in England and Wales, £21,902 with pension and benefits.</p>
      </li>

    </ul>

  </div>
</div>
</main>

{% endblock %}


