{% extends "layout.html" %}

{% block page_title %}
Find Out More
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process">Process</a></li>
<li><a href="/eligibility">Eligibility</a></li>
<li><a href="/find_out_more" class="active">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li><a href="/index">Home</a></li>
    <li>Find Out More</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Find Out More
    </h1>

    <a href="https://www.youtube.com/embed/4GOW_lTB7jA" data-title="Rebecca's story: being a prison officer" data-featherlight="<iframe class=&quot;lightbox-video lazyload&quot; src=&quot;https://www.youtube.com/embed/4GOW_lTB7jA&quot; autoplay frameborder=&quot;0&quot; allowfullscreen></iframe>" class="video-popup">
      <div class="image-container">
        <img src="https://i.ytimg.com/vi/4GOW_lTB7jA/mqdefault.jpg" data-sizes="auto" data-src="https://i.ytimg.com/vi/4GOW_lTB7jA/mqdefault.jpg" data-srcset="" alt="Rebecca's story: being a prison officer" class="lazyautosizes lazyloaded" sizes="348px">
      </div>
    </a>

  </div>
</div>
</main>

{% endblock %}


