{% extends "layout.html" %}

{% block page_title %}
{{ serviceName }}
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li>Home</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      When you help others make better choices, be appreciated for it
    </h1>

    <h2 class="heading-medium">
      Prison Officers. You at your best
    </h2>

    <p>
      Working in a prison is no ordinary job. But if you have what it takes, it could be a very rewarding career. To begin with - depending on your contracted hours – prison officer jobs attract potential starting salaries of up to £30,000 in London, £27,688 in the South East, and £23,052 in most other locations. (See FAQs for details.) In addition, you’ll receive a number of benefits including a pension and the ability to earn through overtime.
    </p>

    <p>
      Here, you’ll discover more about our recruitment process. It’ll tell you what we look for in our prison officers, as well as help you understand what you’ll do and what you’ll gain from the role.
    </p>

    <h2 class="heading-medium">
      What is HM Prison & Probation Service?
    </h2>

    <img src="/public/images/what-is-hmpps.jpg" alt="What is HMPPS?" />

    <p>
      Created in April 2017, Her Majesty's Prison and Probation Service (HMPPS) is a new agency in the Ministry of Justice, covering 121 prisons and employing over 42,000 staff. Our mission: to drive the biggest reform of our prison system in a generation. Across the UK, we're committed to improving how we rehabilitate offenders and protect the public.
    </p>

    <p>
      We want to build real pride in the prison service and make it a place where ambitious professionals thrive. By applying to a local prison, you'll become part of a major organisation that invests in people. And for our prison officers, that means creating opportunities for higher pay, recognition and development through our promotion, leadership and apprenticeship programmes.
    </p>

    <h2 class="heading-medium">
      The role
    </h2>

    <img src="/public/images/the-role.jpg" alt="The Role" />

    <p>
      As a prison officer, your career can take you in many different directions. Developing your skills from day one, the chances to move into new areas will always be there. You could be on a residential wing, in reception, in the segregation unit, working with vulnerable prisoners, with mothers and babies, or on the healthcare unit.
    </p>

  </div>
</div>
</main>

{% endblock %}


