{% extends "layout.html" %}

{% block page_title %}
The Recruitment Process
{% endblock %}

{% block navigation_links %}
<li><a href="/index">Home</a></li>
<li><a href="/vacancies">Vacancies</a></li>
<li><a href="/training">Training</a></li>
<li><a href="/process" class="active">Process</a></li>
<li><a href="/eligibility">Eligibility</a></li>
<li><a href="/find_out_more">Find Out More</a></li>
<li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="breadcrumbs">
  <ol>
    <li><a href="/index">Home</a></li>
    <li>The Recruitment Process</li>
  </ol>
</div>

<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      The Recruitment Process
    </h1>

    <p>
      Our process has been designed to make applying for a role as easy and efficient as possible. Each step of the journey will allow you to demonstrate your unique skills and qualities, and give us a greater insight into the kind of prisoner officer you could be.
    </p>

    <img src="/public/images/recruitment-process-desktop.png" alt="Training Diagram" />

    <h2 class="heading-medium">
      What happens when I apply?
    </h2>

    <ul>
      <li>
        <h3 class="heading-medium">Step 1 - Apply</h3>
        <p>
          When you’ve found a role to apply for through this site, you will:
        </p>
        <ul class="list list-bullet">
          <li>
            Complete a short application which confirms your eligibility to live and work in the UK
          </li>
        </ul>
      </li>
      <li>
        <h3 class="heading-medium">Step 2 - Online test</h3>
        <p>
          Once you’ve completed the application form, we will send you a test with two parts to complete as part of your application. These are:
        </p>
        <ul class="list list-bullet">
          <li>
            Situational judgment test: This is an online test that is designed to test how you react in scenarios you may face as a prison officer
          </li>
          <li>
            Maths test: You’ll need an acceptable level of maths to be a prison officer. As part of your application, you’ll take an online maths test. Don’t be put off, we just need to know you can do the basics. Try the mock test on the website.
          </li>
        </ul>
      </li>
      <li>
        <h3 class="heading-medium">Step 3 - Prison tour (optional)</h3>
        <p>
          Some prisons offer opportunities for applicants to visit during the application process. This is a great opportunity for candidates to ask questions, and experience the prison environment. We strongly recommend taking advantage of this opportunity.
        </p>
      </li>

      <li>
        <h3 class="heading-medium">Step 4 - Recruitment Assessment Day (RAD)</h3>
        <p>
          If you pass the online tests you will be invited to attend a recruitment assessment day (RAD).
          At the recruitment assessment day we will assess your physical fitness and whether you have the
          qualities and skills we are looking for in a prison officer. We assess this in a number of ways:
        </p>
        <ul class="list list-bullet">
          <li>

            Role plays: We will test how you react in three different role play situations. You will be observed by an assessor who will mark you against our criteria.
          </li>
          <li>
            Written tests: We will test you on your literacy and numeracy skills, similar to what you will have completed as part of the online tests.
          </li>
          <li>
            Fitness tests: The fitness test will assess your ability to meet the physical demands of the job.  You will need to complete a bleep test, an agility test and push/pull strength tests.
          </li>
        </ul>
      </li>

      <li>
        <h3 class="heading-medium">Step 5 - Provisional offer and vetting</h3>
        <p>
          If you are successful at RAD you will either be:
        </p>
        <ul class="list list-bullet">
          • Put through the vetting process if a position is available immediately
          OR
          • Put onto a reserve list to wait for a position to become available. As soon as it does you will move into the vetting process.
        </ul>
        <p>
          Time spent on a waiting list can vary significantly, depending on your circumstances, location and the timing of your application.
        </p>
        <p>
          The vetting process can take a few months to complete, depending on your employment history and where you’ve lived. Whilst you are waiting you can expect to hear from your prison mentor with details of what to expect once vetting is complete.
        </p>
      </li>

      <li>
        <h3 class="heading-medium">Step 6 - Placement/ Prison officer entry-level training (POELT) course</h3>
        <p>
          Once you have passed the vetting process, you will be invited to attend a Prison Officer Entry-Level Training course, based at your allocated establishment and one of a number of training sites across England and Wales.
        </p>

        <p>
          Once you pass the POELT course, you will begin working at your allocated establishment.
        </p>

        <p>
          Prison officer training is 12 weeks in duration; 10 weeks of that is the POELT course and weeks 1
          and 12 are hosted by the home establishment.
        </p>

        <ul class="list list-bullet">
          <li>
            Week 1 provides new officers with the opportunity to familiarise themselves with the establishment layout, the role of the establishment and the work they will be expected to carryout after training.
          </li>
          <li>
            Week 2 – 11 is formal training which is delivered at one of a number of training sites across England and Wales, this is known as Prison Officer Entry Level Training (POELT).
          </li>

          <li>
            On successful completion of the formal training new officers will return to their establishment for week 12 where they will have a consolidation week, this gives them the opportunity to apply the learning from formal training.
          </li>
        </ul>

        <p>
          The whole process from application to starting your job as a prison officer will take a minimum of 10 weeks. It can take longer depending on your employment history and references.
        </p>

        <p>
          Good luck with your application.
        </p>
      </li>

    </ul>

  </div>
</div>
</main>

{% endblock %}


