{% extends "layout.html" %}

{% block page_title %}
Training &amp; Benefits
{% endblock %}

{% block navigation_links %}
  <li><a href="/index">Home</a></li>
  <li><a href="/training" class="active">Training</a></li>
  <li><a href="/process">Process</a></li>
  <li><a href="/eligibility">Eligibility</a></li>
  <li><a href="/find_out_more">Find Out More</a></li>
  <li><a href="/faq">FAQs</a></li>
{% endblock %}

{% block content %}

<main id="content" role="main">
<div class="grid-row">
  <div class="column-two-thirds">

    <h1 class="heading-xlarge">
      Training
    </h1>

    <img src="/public/images/icon-training.png" alt="Training Diagram" />

    <p>
      You'll spend your first week of training in your establishment meeting your future colleagues and learning about our routine. After this week, you'll start on our Prison Officer Entry Level Training (POELT) course. On this comprehensive training programme (which is either residential or local depending on your location) you'll develop the interpersonal skills that will help you manage people in custody.
    </p>

    <p>
      You'll also learn techniques that prepare you for any situation in a dynamic prison environment, including search and security procedures as well as control and restraint techniques. At the end of this course, you will complete the Skills For Justice (SFJ) Level 3 Diploma  in the management and care of individuals in the custodial environment. You will also have the opportunity to participate in more training as you progress through the Service.
    </p>

    <h1 class="heading-xlarge">
      Benefits
    </h1>

    <p>
      By taking on such responsibility for our prisoners and the public, it’s only right that you’re recognised for your work, and there’s no doubt that this role is well rewarded.
    </p>

    <p>
{# TODO: FAQ link #}
      In addition to your salary (see FAQs) you’ll join the Civil Service pension scheme. You will also receive a number of other benefits, including 25 days’ holiday allowance each year, childcare vouchers, season ticket loans, retail discounts, Employee Assistance Programme and Cycle to Work scheme.
    </p>

    <p>
{# TODO: Facebook link #}
      Talk to us on Facebook to find out more.
    </p>

  </div>
</div>
</main>

{% endblock %}


